body {
    margin: 0;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

#start {
    display: none;
}

#settings {
    display: none;
}

#gameover {
    display: none;
}

#levelcomplete {
    display: none;
}



#screen {
    background-size: cover;
     width: 56.25vw;
    height: 100vw;
    position: relative;
    z-index: 0;
}

#game {
    background-size: cover;
    width: 56.25vw;
    height: 100vw;
    position: relative;
    z-index: 0;
}

#game_background {

    background-image: url("produktion/baggrund.svg");
    background-size: 100%;
    width: 56.25vw;
    height: 100vw;
    z-index: 1;
    position: relative;

}

#pasta_princess {
    background-image: url("produktion/pastaprincess.svg");
    background-size: 100%;
    margin: auto;
    z-index: 2;
    position: absolute;
    overflow: hidden;
}

#butler {
    background-image: url("produktion/butler.svg");
    background-size: 100%;
    margin: auto;
    z-index: 1;
    position: absolute;
    overflow: hidden;
}

#meatball {
    background-image: url("produktion/meatball.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 15vw;
    z-index: 2;
    position: absolute;
    top: 2vw;
    right: 10vw;
}
#pasta {
    background-image: url("produktion/pasta.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    width: 12vw;
    height: 19vw;
    z-index: 2;
    position: absolute;
    top: 50vw;
    right: 25vw;
}

#knife {
    background-image: url("produktion/knife.svg");
     background-repeat: no-repeat;
    background-size: 55%;
    width: 12vw;
    height: 22vw;
    z-index: 2;
    position: absolute;
    top: 70vw;
    right: 6vw;
}

#fork {
    background-image: url("produktion/fork.svg");
      background-repeat: no-repeat;
    background-size: 55%;
    width: 12vw;
    height: 22vw;
    z-index: 2;
    position: absolute;
    top: 20vw;
    right: 36vw;
}


/*
#bil {
    background-image: url("bil.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14vw;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 31vw;
    right: 39vw;
}

#bom {
    background-image: url("bom.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 35vw;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 32vw;
    right: 35vw;
}

#forgrund {
    background-image: url("forgrund-01.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 56.25vw;
    z-index: 5;
    position: absolute;
    top: 0vw;
    right: 0vw;
*/
